

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.inline {
	display: inline-block;
}

.underline {
	border-bottom: 2px solid #0a0a0a;
}

.subtitle {
	margin: 2em 0;
}












